  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../img/bannerfinal.jfif');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title"> CUCParking</h1>
          <div class="text-center">
            <img class ="texto apps" src="../img/descargar.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper3">
     <div class="wrapper2 seccion">
    <p class="texto peso">Parquear nunca había sido tan rápido</p>
    <hr class="new1">
    <h1 class="title texto"> CUCParking</h1>
    <P class="texto peso">Tu espacio, Tu tranquilidad</P>
    <hr class="new1">
    <p class="texto peso">Descárgalo pronto!</p>
    </div>
    <div class="wrapper2 negro">
     <img class ="texto black2" src="../img/lococuc.jfif" alt="">
     </div>
  </div>
  <hr class="new2">
   
