<div class="page-header clear-filter" filter-color="black">
  <div class="page-header-image" style="background-image:url(../img/bannerfinal.jfif)"></div>
  <div class="content">
              {{#each errors2}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Las contrasenas no coinciden.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{/each}}
    <div class="container">
      <div class="col-md-4 ml-auto mr-auto">
        <div class="card card-login card-plain">
          <form id="form1" class="form" method="POST" action="/singup">
            <div class="card-header text-center">
              <div class="logo-container">
                <img src="../img/logouniversidaddelacostacuc.png" alt="">
              </div>
            </div>
            <div class="card-body">
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons users_circle-08"></i>
                  </span>
                </div>
                <input type="text" name="name" class="form-control" placeholder="Username" required>
              </div>
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons ui-1_email-85"></i>
                  </span>
                </div>
                <input type="email" name="email" class="form-control" placeholder="Correo" required>
              </div>
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons text_caps-small"></i>
                  </span>
                </div>
                <input type="password" id="pass" name="pass" placeholder="Contrasena" class="password form-control"
                  required />
              </div>
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons text_caps-small"></i>
                  </span>
                </div>
                <input type="password" name="pass2" id="pass2" placeholder="Confirmar Contrasena"
                  class="password form-control" required />
              </div>
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons users_circle-08"></i>
                  </span>
                </div>
                <input type="text" name="placa" class="form-control" placeholder="Placa" required>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary btn-round btn-lg btn-block boton black2" type="submit">Crear
                Cuenta</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>